<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title> Aniket Rai</title>
</head>
<body >
	<h1 id="heading">Aniket Rai</h1>
	<h1 id="Welcome">Welcome to my Portfolio</h1>
	<h2 id="title2">EDUCATION</h2>
	<p id="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
</body>
</html>